<div class="flex items-center justify-between sticky top-0 z-50 bg-white px-10 py-2 shadow">
    <div class="flex gap-x-3 items-center">
        <img class="rounded-full w-[40px] h-[40px] object-cover" src="{{#if user.avatar}}/images/avatar/{{user.avatar}}{{else}}/images/system/avatar.avif{{/if}}" />
        <div>
            <span class="text-xl font-semibold">Chào {{user.fullName}},</span>
            <p class="text-sm text-gray-500 mt-1">Chúc bạn có một ngày bán hàng tốt lành</p>
        </div>
    </div>
    <div>
        {{#if user.isPasswordChanged}}
        <div class="relative">
            <div class="flex items-center pl-3 pr-2 rounded-lg bg-gray-100">
                <img width="15" height="15" src="/svg/search-svg-com.svg" />
                <input id="input-search-product" class="px-2 py-[10px] outline-none border-none text-sm bg-gray-100"
                    placeholder="Tìm kiếm sản phẩm..." />
            </div>
            <div id="search-result-wrapper"
                class="absolute w-[500px] max-h-[500px] right-0 flex-col gap-y-2 p-4 overflow-y-auto custom-scrollbar scrollbar-w-2 bg-white z-10 shadow rounded-md mt-2 hidden">
                <div id="product-row"
                    class="flex items-center gap-x-3 w-full hover:bg-orange-50 cursor-pointer rounded-lg py-4 px-3">

                    <img class="rounded-lg object-cover" width="50" height="50"
                        src="https://cdn.nguyenkimmall.com/images/detailed/856/10054628-dien-thoai-samsung-galaxy-a14-5g-4gb-128gb-den-1.jpg" />
                    <div class="flex flex-col gap-y-2 flex-1">
                        <p class="text-sm font-medium">Điện thoại iPhone 11 64GB</p>
                        <div class="flex items-center gap-x-5 justify-between">
                            <p class="text-[14px] font-semibold text-primary">15.000.000 vnđ</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{/if}}

    </div>
</div>