<aside
    class="w-[90px] bg-white h-full flex flex-col items-center justify-between shadow border-r-[1px] border-gray-100">
    <div class="flex flex-col items-center">
        <div class="py-4">
            <span
                class="italic font-bold text-primary text-xs border-4 border-primary rounded-full w-10 h-10 flex items-center justify-center">POS</span>
        </div>
        <div class="h-[1px] w-full bg-gray-100"></div>
        <div class="flex flex-col gap-y-3 py-12 w-full px-2">
            <!-- Sidebar item with tooltip -->
            <a href="/" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/home-svg-com.svg" />
                <!-- Tooltip -->
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Bán hàng
                </span>
            </a>

            <a href="/products"
                class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/smartphone-svg-com.svg" />
                <!-- Tooltip -->
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Sản phẩm
                </span>
            </a>

            <a href="/users"
                class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/smartphone-svg-com.svg" />
                <!-- Tooltip -->
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Nhân viên
                </span>
            </a>

            <a href="#" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/home-svg-com.svg" />
                <!-- Tooltip -->
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Cài đặt
                </span>
            </a>
        </div>

    </div>
    <div class="flex flex-col gap-y-2 py-4 w-full px-2 shadow">
        <a href="#" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center">
            <img class="" width="20" height="20" src="/svg/setting-svg-com.svg" />
        </a>
        <a href="#" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center">
            <img class="rotate-180" width="20" height="20" src="/svg/logout-svg-com.svg" />
        </a>
    </div>
</aside>