<aside
    class="!w-[90px] bg-white h-full flex flex-col items-center justify-between shadow border-r-[1px] border-gray-100">
    <div class="flex flex-col items-center">
        <div class="py-4">
            <span
                class="italic font-bold text-primary text-xs border-4 border-primary rounded-full w-10 h-10 flex items-center justify-center">POS</span>
        </div>
        <div class="h-[1px] w-full bg-gray-100"></div>
        {{#if user.isPasswordChanged}}
        <div class="flex flex-col gap-y-3 py-12 w-full px-2">
            <a href="/" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/home-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Bán hàng
                </span>
            </a>

            <a href="/products" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/smartphone-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Sản phẩm
                </span>
            </a>
            <a href="/categories" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/category-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Danh mục
                </span>
            </a>
            <a href="/orders" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/shopping-cart-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Đơn hàng
                </span>
            </a>
            {{#if (eq user.role 'ADMIN')}}
            <a href="/users" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/employee-group-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Nhân viên
                </span>
            </a>
            {{/if}}
            <a href="/customers" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/shopper-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Khách hàng
                </span>
            </a>


            <a href="/report" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
                <img class="" width="20" height="20" src="/svg/statistics-svg-com.svg" />
                <span
                    class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                    Thống kê
                </span>
            </a>
        </div>
        {{/if}}


    </div>
    <div class="flex flex-col gap-y-2 py-4 w-full px-2 shadow">
        {{#if user.isPasswordChanged}}
        <a href="/profile" class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center relative group">
            <img class="" width="20" height="20" src="/svg/profile-svg-com.svg" />
            <span
                class="absolute z-40 left-full top-1/2 -translate-y-1/2 ml-2 w-max px-2 py-1 bg-gray-700 text-white text-sm rounded-lg opacity-0 group-hover:opacity-100 transition-opacity">
                Hồ sơ
            </span>
        </a>
        {{/if}}
        <button id="btnOpenConfirmLogout" data-modal="confirmLogoutModal"
            class="w-full hover:bg-gray-100 p-3 rounded-lg flex justify-center">
            <img class="rotate-180" width="20" height="20" src="/svg/logout-svg-com.svg" />
        </button>
    </div>
</aside>


<!-- MODAL CONFIRM -->

<div id="confirmLogoutModal" class="modal">
    <div class="modal-content w-[400px] max-h-[600px] overflow-y-auto custom-scrollbar scrollbar-w-2">
        <div class="sticky top-0 z-50 bg-white py-4 w-full">
            <h2 class="text-center text-xl font-semibold">ĐĂNG XUẤT</h2>
            <button id="closeConfirmLogoutModal" data-modal="confirmLogoutModal"
                class="close close-modal-btn">&times;</button>
        </div>
        <div class="py-2 max-h-full">
            <p>Bạn có chắc là muốn đăng xuất tài khoản không?</p>
        </div>
        <div
            class="sticky mt-4 bottom-0 flex items-center gap-x-2 justify-end py-2 pb-3 border-t-[1px] bg-white z-50 border-gray-200">
            <button data-modal="confirmLogoutModal"
                class="close px-3 py-1 rounded-md bg-red-600 text-white">Hủy</button>
            <form action="/logout" method="POST">
                <button type="submit" class="px-3 py-1 rounded-md bg-green-600 text-white">Đăng xuất</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/sidebar.js"></script>