<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/fonts/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                        // primary: 'orange'
                        primary: 'orange'
                    }
                }
            }
        }
    </script>
    <title>Bán hàng</title>
</head>

<body>
    {{{toastr}}}
    <div class="flex justify-between w-full h-screen">
        {{> sidebar}}
        <div class="bg-slate-50 w-full flex flex-col overflow-y-auto custom-scrollbar scrollbar-w-2">
            {{> header}}

            {{!-- CONTENT BODY --}}
            {{{body}}}
        </div>

    </div>
</body>
<script src="/js/main.js"></script>
<script src="/js/modal.js"></script>

</html>