<!-- Content Section -->
<div class="px-4 pt-0 py-4 h-full flex flex-col gap-4">
    <div class="bg-white p-4 rounded-md flex flex-col gap-y-6 items-center h-full justify-center">
        {{#unless user.isPasswordChanged}}
        <span class="text-lg text-center py-3 px-6 rounded-md border-[1px] border-primary bg-orange-50">XIN CHÀO <b class="uppercase">{{user.fullName}}</b>, <br> BẠN CẦN THAY ĐỔI MẬT KHẨU ĐỂ TIẾP TỤC TRUY CẬP VÀO CÁC TÀI NGUYÊN CỦA HỆ THỐNG</span>
        {{/unless}}

        <form action="/change-password" method="post"
            class="flex flex-col gap-y-4 min-w-[500px] p-6 rounded-md border-[1px] border-gray-200">
            <span class="text-lg font-semibold">Thay đổi mật khẩu</span>
            <div class="flex flex-col gap-y-1">
                <label>Mật khẩu mới</label>
                <input type="password" name="password"
                    class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md"
                    placeholder="Mật khẩu mới" />
            </div>

            <div class="flex flex-col gap-y-1">
                <label>Nhập lại mật khẩu mới</label>
                <input type="password" name="confirmPassword"
                    class="bg-slate-100 outline-none border-none w-full px-3 py-2 rounded-md"
                    placeholder="Nhập lại mật khẩu mới" />
            </div>

            <div class="flex justify-end">
                <button type="submit" class="py-2 px-4 rounded-md bg-primary text-white">Lưu lại</button>
            </div>

            {{#if error}}
                <div class="bg-red-50 text-red-600 rounded-lg p-4 border-[1px] border-red-200">
                    {{error}}
                </div>
            {{/if}}
        </form>

    </div>
</div>