<div class="grid grid-cols-12 h-full overflow-hidden">
    <div class="col-span-8 overflow-y-auto custom-scrollbar scrollbar-w-2">
        <div class="w-full h-[70px] shadow bg-white flex items-center justify-end px-8 sticky top-0 z-30">
            {{#if user.isPasswordChanged}}
            <div class="relative w-[40%]">
                <div class="flex items-center pl-3 pr-2 rounded-lg border-[2px] border-primary">
                    <img width="15" height="15" src="/svg/search-svg-com.svg" />
                    <input id="input-search-product"
                        class="px-2 py-[10px] outline-none border-none bg-transparent text-sm"
                        placeholder="Tìm kiếm sản phẩm..." />
                </div>
                <div id="search-result-wrapper"
                    class="absolute w-[500px] right-0 flex-col items-start bg-white z-10 shadow rounded-md mt-2 hidden p-4">
                    <span id="search-result-title"></span>
                    <div id="search-result-list"
                        class="flex-col gap-y-2 pt-3 overflow-y-auto custom-scrollbar scrollbar-w-2 max-h-[500px] w-full">

                    </div>

                </div>
            </div>
            {{/if}}

        </div>
        <div class="grid grid-cols-4 gap-6 px-10 pt-4 py-8">

            {{#each products}}
            <div id="product-item" class="p-3 bg-white rounded-md shadow-sm relative">
                <div class="flex justify-center">
                    <img class="rounded-lg object-cover w-[150px] h-[150px]" src="/images/product/{{thumbnail}}"
                        alt="Ảnh minh họa" />
                </div>
                <div class="flex flex-col items-start gap-y-2 mt-3 overflow-hidden">
                    <p class="text-lg truncate">{{name}}</p>
                    <p class="font-semibold text-primary">{{retailPrice}}</p>
                </div>

                <button data-id="{{id}}"
                    class="cart-product absolute bottom-2 right-2 bg-gray-100 p-2 rounded-lg flex justify-center">
                    <img width="20" height="20" src="/svg/cart-svg-com.svg" />
                </button>
            </div>
            {{/each}}

        </div>
    </div>

    <aside class="col-span-4 bg-white pt-3 px-6 border-l-[1px] border-gray-100 h-full overflow-y-auto">
        <div class="flex flex-col bg-slate-50 py-2 px-2 rounded-md gap-y-2">
            <div class="flex items-center justify-between">
                <span class="text-[16px]">Giỏ hàng hiện tại</span>
                <span id="cart-count"
                    class="w-8 h-8 flex items-center justify-center rounded-full bg-primary text-white">0</span>
            </div>
            <div class="flex items-center justify-between bg-white border-[1px] border-primary px-2 rounded-md">
                <input id="barcode-input"
                        class="w-full px-2 py-[10px] outline-none border-none bg-transparent text-sm bg-white"
                        placeholder="Nhập barcode..." />
                <button id="btn-scan-barcode" class="px-2 py-1 rounded-md bg-primary text-white text-sm">QUÉT</button>
            </div>
        </div>
        <div class="w-full h-[1px] bg-slate-200">
        </div>
        <div id="cart-area"
            class="flex flex-col gap-y-2 w-full py-4 max-h-[63%] overflow-y-auto custom-scrollbar scrollbar-w-2 rounded-md">
        </div>
        <div class="w-full h-[1px] bg-slate-200"></div>

        <div class="mt-6 flex flex-col gap-y-3">
            <div class="flex items-center justify-between border-[1px] border-slate-100 py-2 px-2 rounded-md">
                <span>Tổng tiền</span>
                <span id="total-money" class="font-semibold text-primary">2.000.000 vnđ</span>
            </div>
            <a id="btn-checkout" href="/orders/checkout"
                class="w-full py-1 rounded-md bg-primary text-white text-center flex items-center gap-x-2 justify-center">
                <img width="30" height="30" src="/images/system/pos-terminal.png" />
                Tiếp tục
                thanh toán
            </a>
        </div>
    </aside>
</div>

<script type="module" src="/js/cart.js"></script>